fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
groq
langchain
langgraph
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb
python-dotenv
pypdf
duckduckgo-search
ddgs
